@import url('https://autowflibcdn.pages.dev/awfl-cdn/css/brygada-1918.css');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;600&display=swap');

body {
    font-family: 'Brygada 1918', 'Source Serif Pro', 'Libertinus Serif', 'NewComputerModern', 'Georgia', 'Times New Roman', 'Times', serif, 'Noto Serif CJK SC';
    color: #443414 !important;
    background: #F9EED2 !important;
}

h1 {
    color: #443414 !important;
}

a {
    color: #D32D17 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
aside {
    font-family: 'Brygada 1918', 'Source Serif Pro', 'Libertinus Serif', 'NewComputerModern', 'Georgia', 'Times New Roman', 'Times', serif, 'Noto Serif CJK SC';
}








.make-anchors-inlineBlock a {
    margin-right: 10px !important;
}








body[data-should-always-hide-hengpi="true"] .hengpi,
body[data-should-hide-hengpi="true"] .hengpi {
    display: none;
}

@media screen and (orientation: portrait) {
    .chunlian.vertical {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .chunlian.vertical {
        display: none !important;
    }
}

.chunlian {
    transition: all 180ms ease;
}

.chunlian>img {
    box-shadow: rgba(68, 52, 20, 0.2) 0px 0px 20px 0px !important;
    transition: all 180ms ease;
    border-radius: 5px;
}

.chunlian>img:hover {
    box-shadow: rgba(68, 52, 20, 0.5) 0px 0px 40px 0px !important;
    transform: translateY(-5px);
}

body[data-chunlian-hover="true"] .chunlian img {
    opacity: 0 !important;
}
